.boton-clear {
    height: 60px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: coral;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px groove white;
    cursor: pointer;
    border-radius: 45px;
}

.boton-clear:hover {
    background-color: grey;
}